<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>나의 구매 제안 목록</title>
</head>
<body>
<h1>나의 구매 제안 목록</h1>
<table>
    <thead>
    <tr>
        <th>제안 ID</th>
        <th>아이템 ID</th>
        <th>사용자 ID</th>
        <th>상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="proposal : ${proposals}">
        <td th:text="${proposal.id}"></td>
        <td th:text="${proposal.itemId}"></td>
        <td th:text="${proposal.user.id}"></td> <!-- 사용자 ID 접근 수정 -->
        <td th:text="${proposal.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
