<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Student List</h1>
<!-- 학생이 없을 경우 -->
<div th:if="${students.isEmpty()}">
  <p>No Students Here...</p>
</div>
<!-- 학생이 있을 경우 -->
<div th:unless="${students.isEmpty()}" th:each="student: ${students}">
  <p>[[${student.id}]]. <a th:href="@{/student/{id}(id=${student.id})}">[[${student.name}]]</a></p>
</div>
<a href="/student/create-view">Create</a>
</body>
</html>